<ion-header>
  <div class="bg-image">
    <ion-toolbar class="tb">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="bg-image-t tl">
          Vampire Wargame
      </ion-title>
    </ion-toolbar>
  </div>
</ion-header>

<ion-content no-bounce>
  <div>
    <div class="txt bg-image">
      <h1>
        Rules:
      </h1>
      <h2>
        Objective:
      </h2>
      The objective of the game is to anihilate all the pieces of the opponent.<br />
      <!--
      During each turn, players determinate wich<br />
      pieces can be moved using a spinning wheel.<br />
      When they lose two pieces, they will be<br />
      granted a second spin per turn. After losing<br />
      another two, they will receive a third spin.<br />
      -->
      <h2>
        The pieces:
      </h2>
      All pieces can move to an empty square or attack an adjacent enemy piece during a turn. Apart from having different statistics, each piece has an extra power:<br />
      <span>Lycanthropes</span> can move two squares, instead of one.<br />
      <span>Vampires</span> can drain life from an adjacent 
      piece, dealing less damage but healing themselves in exchange.<br />
      <span>Necromancer</span> can summon a <span>Zombie</span> anywhere in the board, and can attack at two squares of distance, ignoring armor value.<br />
      <ion-button fill="clear" (click)="back()" class="btn">
        <ion-img src="../../assets/imgs/return.png"></ion-img>
      </ion-button>
    </div>
  </div>
</ion-content>