<ion-header>
  <ion-toolbar class="tb">
    <ion-title class="bg-image-tl tl">
      Vampire Wargame
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content no-bounce>
  <div>
    <div class="bg-image" style="padding-top: 5%;">
      <div style="display: inline-block; width:300px !important;">
        <!--turn-->
        <div style="text-align: center">
          <ion-text class="txt">
            Player {{turn?'1':'2'}}'s turn
          </ion-text>
        </div>
        <!--draw board-->
        <table id="table">
          <tr *ngFor="let row of drawBoard; let r = index" class="row">
            <td class="btd" id="{{c}}{{r}}" *ngFor="let col of row; let c = index"
              [ngClass]="{'black':(r+c)%2===0,'white':(r+c)%2!==0}" (click)="action(board.cells[c][r], c, r)">
              <ion-img *ngIf="board.cells[c][r].src" src="{{board.cells[c][r].src}}"></ion-img>
            </td>
          </tr>
        </table><br />
        <!--portrait and life-->
        <table id="pl" *ngIf="this.prevP">
          <tr>
            <!--selected image-->
            <td class="portrait">
              <ion-img id="im" class="portrait" *ngIf="this.prevP.src" src="{{this.prevP.src}}"></ion-img>
            </td>
            <!--selected hp-->
            <td class="hp" *ngFor="let s of getHpArray()">
              <ion-img *ngIf="s" src="../assets/imgs/hp.png"></ion-img>
              <ion-img *ngIf="!s" src="../assets/imgs/hpe.png"></ion-img>
            </td>
          </tr>
        </table><br />
        <!--question necro and vamp-->
        <div *ngIf="this.prevP" id="q">
          <ion-text *ngIf="getPType(this.prevP) === 'n' || getPType(this.prevP) === 'v'" class="txt-q">
            Action:
          </ion-text><br />
          <!--necro-->
          <div *ngIf="getPType(this.prevP) === 'n'">
            <ion-button fill="clear" [ngClass]="{'option-selected': this.necro, 'option-not-selected': !this.necro}"
              (click)="setNecro(true); setInterval(this.optionN1,700)" style="text-align: center;">
              <ion-text id="n1" class="txt-o">
                > Move/Attack
              </ion-text>
            </ion-button>
            <ion-button fill="clear" [ngClass]="{'option-selected': !this.necro, 'option-not-selected': this.necro}"
              (click)="setNecro(false); setInterval(this.optionN2,700)">
              <ion-text id="n2" class="txt-o">
                &nbsp;Summon Zombie
              </ion-text>
            </ion-button>
          </div>
          <!--vamp-->
          <div *ngIf="getPType(this.prevP) === 'v'">
            <ion-button fill="clear" [ngClass]="{'option-selected': this.vamp, 'option-not-selected': !this.vamp}"
              (click)="setVamp(true); setInterval(this.optionV1,700)">
              <ion-text id="v1" class="txt-o">
                > Move/Attack
              </ion-text>
            </ion-button>
            <ion-button fill="clear" [ngClass]="{'option-selected': !this.vamp, 'option-not-selected': this.vamp}"
              (click)="setVamp(false); setInterval(this.optionV2,700)">
              <ion-text id="v2" class="txt-o">
                &nbsp;Drain Life
              </ion-text>
            </ion-button>
          </div>
        </div>
        <!--rules and exit-->
        <table id="re">
          <tr class="question">
            <td class="option">
              <ion-button fill="clear" (click)="goRules()" class="btn">
                <ion-text class="txt">Rules</ion-text>
              </ion-button>
            </td>
            <td class="option">
              <ion-button fill="clear" (click)="home()" class="btn">
                <ion-text class="txt">Exit</ion-text>
              </ion-button>
            </td>
          </tr>
        </table>
      </div>
    </div>
  </div>
</ion-content>