<ion-app>
  <ion-split-pane style="--border: 0px;">
    <!--
    <ion-menu style="background-image: url('../assets/imgs/bg1.jpg');">
      <ion-header class="tb" style="background-image: url('../assets/imgs/bg1.jpg');">
        <ion-toolbar class="tb" color="dark">
          <ion-title>
            <ion-text style="font-size:70px">
              Menu
            </ion-text>
          </ion-title>
        </ion-toolbar>
      </ion-header>
      <ion-content>
        <ion-list style="padding-top: 0px; background: url('../assets/imgs/bg1.jpg');">
          <ion-menu-toggle auto-hide="false" *ngFor="let p of appPages" color="dark">
            <ion-item [routerDirection]="'root'" [routerLink]="[p.url]"
              style="--background: transparent; --background-size: cover">
              <ion-icon slot="start" [name]="p.icon"></ion-icon>
              <ion-label style="font-size: 30px;">
                {{p.title}}
              </ion-label>
            </ion-item>
          </ion-menu-toggle>
        </ion-list>
      </ion-content>
    </ion-menu>
    -->
    <ion-router-outlet main></ion-router-outlet>
  </ion-split-pane>
</ion-app>